@tailwind base;
@tailwind components;
@tailwind utilities;

.text-rancho {
  font-family: 'Rancho', cursive;
}

.text-raleway {
  font-family: 'Raleway', sans-serif;
}

@layer components {
  .nav-title {
    font-family: 'Rancho', cursive;
    @apply text-2xl md:text-3xl text-white
  }
  .btn-primary{
    font-family: 'Rancho', cursive;
    @apply py-2 px-6 bg-[#E3B577] w-1/3
    
  }
  .btn-outline{
    font-family: 'Rancho', cursive;
    @apply py-2 px-8 bg-[#E3B577] border-2 rounded-md border-black text-white text-xl
    
  }
}